html
head
	script(src='/assets/notes/jquery.js')
	script(src='/assets/notes/node.js')
	script(src='http://localbox:7200/socket.io/socket.io.js')
	script(src='/assets/notes/jquery.gritter.js')
	link(rel='stylesheet', href='/assets/notes/jquery.gritter.css')
body
	#content(style='display: none;')